html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: gainsboro;
  width: 100%;
  height: 100vh;
}


header {
  width: 100%;
  margin: auto;
  background: #2962FF;
  color: white ;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
}

.header-container {
  margin:0 auto;
  max-width: 800px;
  min-width: 600px;
  line-height: 60px;
  vertical-align: middle;
  padding: 0 20px;
}

.container {
  margin:0 auto;
  width: 800px;
  height: 100vh;
}


.select-container {
  display: inline-block;
  width: 50%;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}




.post-card {
  position: relative;
  color: black;
  background: white;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  margin-bottom: 20px;
  margin-top: 20px;
  height: 100px;
}


.post-content {
  display: inline-block;
  width: 70%;
  padding: 20px;
}

.content{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.post-details {
  margin: 0;
  padding: 0;
  margin-bottom: 15px
}

.post-details span {
  margin-right: 15px;
}

.post-summary p {
  margin: 0;
  padding: 0;
}

.voting {
  width: 24.5%;
  text-align: center;
  height: 100px;
  background: white;
  border-left: solid darkgrey 2px;
  display: inline-block;
  color:grey;
}

.voting .content {
  text-align: center;
}

.icon-wrap {
  display: inline-block;
  color: grey;
  text-align: center;
  padding: 0 15px;

}

.vote-total {
  padding-top: 10px;
}


/** Utility **/

.float-right {
  float: right;
}

/*.box-shadow {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
}*/
